{% extends 'base.html' %}

{% set page_head_title = 'I-Tennis: login page' %}
{% set page_main_title = 'כניסה לחשבון' %}


{% block page_body_content %}
    <div class="container">
        <div class="square" id="square1">
            <form class="square-text-form" action="/myAccount">
                <label for="username" class="form-label">שם משתמש:</label>
                <input type="text" id="username" name="username" class="form-input" required><br>
                <label for="password" class="form-label">סיסמה:</label>
                <input type="password" id="password" name="password" class="form-input" required>
                <input type="submit" value="התחבר" class="form-submit">
            </form>
        </div>
    </div>
    {% block page_body_js %}
        <script src="{{ url_for('loginPage.static', filename='js/js_loginValidation.js') }}"></script>
    {% endblock %}
{% endblock %}