<link rel="stylesheet" href="{{ url_for('main_menu.static', filename='css/main-menu.css') }}"/>

{%
    set menu_items = {
        'homepage_NOT': '/',
        'catalog_NOT': url_for('catalog_NOT.index'),
        'about_NOT': url_for('about_NOT.index'),
    }
%}

{% for item in menu_items %}
    <li>
        <a
            href="{{ menu_items[item] }}"
            {% if menu_items[item] == request.path %}
                class="active"
            {% endif %}
        >{{ item | capitalize }}</a>
    </li>
{% endfor %}
