{% extends 'base.html' %}

{% set page_head_title = 'I-Tennis: Contact Me' %}
{% set page_main_title = 'צור קשר' %}

{% block page_body_content %}
    <div class="container">
        <div class="square" id="square1">
            <h3 class="square-text-contact">שלום לך!<br> <br>אז אני איתי שושן, שחקן ומדריך טניס.<br>אוהב מאוד את התחום,
                חי
                ונושם את עולם הספורט ואת עולם הטניס בפרט.<br>מזמין אותך להיכנס לעולם הזה ולהתמכר כמוני.</h3>
            <ul class="square-text-list-contact-info ">
                <li>מיקום: קיבוץ מרחביה הרחבה, עמק יזרעאל</li>
                <li>טלפון: 054-4444065</li>
                <li id="emailIcon"><a href="mailto:itayshushan@itennis.com">מייל: itayshushan@itennis.com</a></li>
            </ul>
        </div>
    </div>

    {% block page_body_js %}
        <script src="{{ url_for('contactMe.static', filename='js/js_contactMe.js') }}"></script>
    {% endblock %}
{% endblock %}