{% extends 'base.html' %}

{% set page_head_title = 'Logged in' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <h1>Logged in successfully {{ username }}!</h1>
    <p>Redirecting to homepage in <span class="count-down">5</span> seconds</p>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('login.static', filename='js/logged_in.js') }}"></script>
{% endblock %}
