<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Tennis: My Account</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="tennis-background-pages-image"></div>
<div class="tennis-logo-pages"></div>
<a href="1_homePage.html">
    <div class="tennis-home-icon"></div>
</a>
<h1 class="main-title">החשבון שלי</h1>
<div class="container-small-account ">
    <div class="square-small-account" id="square8">
        <a href="4_Schedule.html"><h1 class="square-small-text ">מערכת שעות</h1></a>
    </div>
    <div class="square-small-account" id="square9">
        <a href="5_scheduleCourt.html"><h1 class="square-small-text ">הזמנת מגרש</h1></a>
    </div>
    <div class="square-small-account" id="square10">
        <a href="7_histoy.html"><h1 class="square-small-text ">היסטוריית אימונים</h1></a>
    </div>
</div>
</body>
</html>