<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I-Tennis: Add session</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="tennis-background-pages-image"></div>
<div class="tennis-logo-pages"></div>
<a href="1_homePage.html">
    <div class="tennis-home-icon"></div>
</a>
<h1 class="main-title">הוספה למערכת</h1>
<div class="container">
    <div class="square" id="square11">
        <form class="square-text-form" action="11_addSession.html" id="sessionAdditionForm">
            <label for="day" class="form-label">תאריך: </label>
            <input type="text" id="day" name="date" class="form-input" required><br>
            <label for="hour" class="form-label">שעה: </label>
            <input type="text" id="hour" name="time" class="form-input" required><br>
            <label for="type" class="form-label">סוג אימון: </label>
            <input type="text" id="type" name="sessionType" class="form-input" required><br>
            <input type="submit" value="הוסף" class="form-submit">
        </form>
    </div>
</div>

<script src="../static/js/js_adminSetup.js"></script>
</body>
</html>