<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I-Tennis: Remove session</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="tennis-background-pages-image"></div>
<div class="tennis-logo-pages"></div>
<a href="1_homePage.html">
    <div class="tennis-home-icon"></div>
</a>
<h1 class="main-title">הסרה מהמערכת</h1>
<div class="container">
    <div class="square" id="square12">
        <form class="square-text-form" action="12_removeSession.html" id="sessionReductionForm">
            <label for="sessionSelect" class="form-label">בחר אימון: </label>
            <select id="sessionSelect" class="form-input">
                <option value="">בחר</option>
            </select><br>
            <input type="submit" value="הסר" class="form-submit">
        </form>
    </div>
</div>
<script src="../static/js/js_miniDataBase.js"></script>
<script src="../static/js/js_showSessionsForAdmin.js"></script>
</body>
</html>