<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Tennis:HomePage</title>
    <link rel="stylesheet" href="../static/css/style_homepage.css">
</head>
<body>
<img src="../static/images/istock_000062879576_double.jpg" alt="tennis image" class="tennis-banner">
<div class="tennis-logo"></div>
<img src="../static/images/line.png" alt="Descriptive text for the image" class="tennis-line-1">
<img src="../static/images/line.png" alt="Descriptive text for the image" class="tennis-line-2">
<div class="tennis-content">
    <ul class="tennis-menu">
        <a href="2_clubsDetails.html">
            <li>פרטים על המועדון</li>
        </a>
        <a href="3_loginPage.html">
            <li>כניסה לחשבון</li>
        </a>
        <a href="9_subscribe.html">
            <li>רכישת מנוי</li>
        </a>
        <a href="6_contactMe.html">
            <li>צור קשר</li>
        </a>
    </ul>
</div>
</body>
</html>
