{% extends 'base.html' %}

{% set page_head_title = 'I-Tennis: Clubs details' %}
{% set page_main_title = 'פרטים על המועדון' %}

{% block page_body_content %}
    <div class="container">
        <div class="square" id="square1">
            <h1 class="square-text">כרטיסייה</h1>
            <h2 class="square-text">סוגי האימונים המוצעים:</h2>
            <ul class="square-text-list">
                <li>אימון זוגות</li>
                <li>אימון קבוצה פתוחה</li>
                <li>אימון קבוצה סגורה</li>
            </ul>
            <h4>עלות: 1,000 ש"ח <br> הגבלת שימוש למשך 3 חודשים</h4>
        </div>
        <div class="square" id="square2">
            <h1 class="square-text">מנוי שנתי</h1>
            <h2 class="square-text">סוגי האימונים המוצעים:</h2>
            <ul class="square-text-list">
                <li>אימון אישי</li>
                <li>אימון זוגות</li>
                <li>אימון קבוצה פתוחה</li>
                <li>אימון קבוצה סגורה</li>
                <li>הזמנת מגרש</li>
            </ul>
            <h4>עלות: 8,000 ש"ח <br> הגבלת שימוש למשך שנה</h4>
        </div>
    </div>
{% endblock %}


