<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Tennis: Contact Me</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="tennis-background-pages-image"></div>
<div class="tennis-logo-pages"></div>
<a href="1_homePage.html">
    <div class="tennis-home-icon"></div>
</a>
<h1 class="main-title">צור קשר</h1>
<div class="container">
    <div class="square" id="square1">
        <h3 class="square-text-contact">שלום לך!<br> <br>אז אני איתי שושן, שחקן ומדריך טניס.<br>אוהב מאוד את התחום, חי
            ונושם את עולם הספורט ואת עולם הטניס בפרט.<br>מזמין אותך להיכנס לעולם הזה ולהתמכר כמוני.</h3>
        <ul class="square-text-list-contact-info ">
            <li>מיקום: קיבוץ מרחביה הרחבה, עמק יזרעאל</li>
            <li>טלפון: 054-4444065</li>
            <li id="emailIcon"><a href="mailto:itayshushan@itennis.com">מייל: itayshushan@itennis.com</a></li>
        </ul>
    </div>
</div>
<script src="../static/js/js_contactMe.js"></script>
</body>
</html>