<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Tennis: Training history</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="tennis-background-pages-image"></div>
<div class="tennis-logo-pages"></div>
<a href="1_homePage.html">
    <div class="tennis-home-icon"></div>
</a>
<h1 class="main-title">היסטוריית אימונים</h1>
<div class="container">
    <div class="square" id="square1">
        <ul class="square-text-list-history">
            <li>08/12/2023 אימון קבוצה פתוחה</li>
            <li>16/12/2023 אימון זוגות</li>
            <li>04/01/2024 אימון קבוצה סגורה</li>
            <li>10/01/2024 אימון זוגות</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</body>
</html>