{% extends 'base.html' %}

{% set page_head_title = 'I-Tennis: Training history' %}
{% set page_main_title = 'היסטוריית אימונים' %}

{% block page_body_content %}
    <div class="container">
        <div class="square" id="square1">
            <ul class="square-text-list-history">
                <li>08/12/2023 אימון קבוצה פתוחה</li>
                <li>16/12/2023 אימון זוגות</li>
                <li>04/01/2024 אימון קבוצה סגורה</li>
                <li>10/01/2024 אימון זוגות</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
{% endblock %}