{% extends 'base.html' %}

{% set page_head_title = 'I-Tennis: Admin' %}
{% set page_main_title = 'Admin' %}

{% block page_body_content %}
    <div class="container-small">
        <div class="square-small" id="square3">
            <a href="/removeSession"><h1 class="square-small-text ">הסר אימון מהמערכת</h1></a>
        </div>
        <div class="square-small" id="square4">
            <a href="/addSession"><h1 class="square-small-text ">הוסף אימון למערכת</h1></a>
        </div>
        <div class="square-small" id="square5">
            <h1 class="square-small-text ">עדכון אימון אישי</h1>
        </div>
        <div class="square-small" id="square6">
            <a href="/schedule"><h1 class="square-small-text ">צפייה במערכת</h1></a>
        </div>
        <div class="square-small" id="square7">
            <h1 class="square-small-text ">מעקב תשלומים</h1>
        </div>
    </div>

{% endblock %}